@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0b4755 !important; /* amber-100 */
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .custom-class {
    font-size: 14px;
    padding: 10px;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}
.moving-text {
  animation: fadeInOut 3s infinite;
}
